body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    display: flex;   
}
.half-width{
    width: 50%;
    padding-left: 30px;
}
.half-width img{
    width: 85%;
}
.org-color{
    color: orange;
}
.top-banner .half-width h1{
    margin-top: 120px;
    line-height: 60px;
    font-size: 50px;
    color: gray;
}
.half-width p{
    color: gray;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 70px;
}
.button{
    text-decoration:none ;
    padding: 20px 40px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 50px;
}
.about-me{
    overflow: hidden;
    display: flex;
    margin-top: 60px;
     height: 472px;
    background-image: url(images/abt-me-bck-img.png);
}
.about-me img{    
    margin: 20px 0 0 140px;
    width: 60%;
}
.about-me h1{
    margin-top: 60px;
    color: gray;
    font-size: 40px;
}
.about-me p{
    margin-bottom: 60px;
    color: gray;    
    text-align: left;
}
 .my-recipe{
     margin: 50px 0 100px 0; 
     height: 610px;    
 }
 
 .my-recipe h1{
    font-size: 50px;
    color: gray;    
 }
 .my-recipe-text{
     text-align: center;  
     margin-bottom: 50px;   
 }
 .my-recipe-item{   
    border: 1px solid #ddd;
     margin: 0 0 0 4%;
     float: left;
     overflow: hidden;
     text-align: left;
     width:26%;
     box-shadow: 5px 5px 15px gray;
     border-radius: 8px;
     padding: 0 5px 0 20px;
 }
 /*.my-recipe-item p {
     padding: 0 5px 0 20px;
 }*/
 .my-recipe-item img{
    margin: 20px 0 0 5px;
     width:90%
 }
 .soical-media-follower{  
     height: 180px;     
     
    /* margin-top: 100px;   */ 
 }
 .social-media{
     display: flex;
     margin:  0 auto;
     width: 960px;
     height: 150px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 8px;
 }
 .youtube{
    margin: 7px 20px 0 130px;  
     width:30%
 }
 .youtube h1{
     font-size: 30px;
     font-weight: bolder;
 }
 .youtube p{
     line-height: 0px;
 }

 footer{
    height: 150px;     
     color: white;
     background-color: black;
     text-align: center;
 }
 